* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
}
.map {
    background-image: url('../assets/hoodmaps-amsterdam.png');
    background-position: center center;
    background-size: cover;
    display: block;
    z-index: 1;
    position: relative;
    cursor: url(../assets/circle.png) 32 32, auto;
}
.color-picker {
    width: 100vw;
    position: absolute;
    z-index: 2;
}
.color-picker div {
    padding: 0.8em;
    text-align: center;
    width: 20vw;
    float: left;
    cursor: pointer;
}
.color-picker div.active {
    font-weight: bold;
    height: 3.5em;
    opacity: 1;
}
.color-picker div span {
    color: #fff;
    font-size: 1em;
    text-shadow: 1px 1px 1px #000;
    display: block;
}
.color-picker .red {
    background-color: #FF4742;
}
.color-picker .yellow {
    background-color: #FFC924;
}
.color-picker .blue {
    background-color: #42A5FF;
}
.color-picker .green {
    background-color: #2BDE73;
}
.color-picker .black {
    background-color: #999999;
}